<h2> Hi, users </h2>
<section id="main">
  <ul>
    {{#each user in model}}

    {{log 'user is:' user}}
    <li>
      {{#link-to 'user' user}}{{user.screenName}} {{/link-to}}
    </li>
    {{/each}}
  </ul>
</section>

{{outlet}}
